.about-img {
    margin-bottom: 2rem;

    grid-column: 1 / span 5;
    margin-bottom: 0;
}

.about-text .section-title {
    margin-bottom: 2rem;
    text-align: left;
}

.about-text .underline {
    margin-left: 0;
    margin-right: 0;
}

.about-text p {
    line-height: 2;
}

.about-page {
    padding: 7rem 0;
}

@media screen and (min-width: 992px) {
    .about-center {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
        column-gap: 4rem;
    }

    .about-img,aboutMe-img {
        grid-column: 1 / span 5;
        margin-bottom: 0;
    }

    .about-text {
        grid-column: 6 / -1;
    }
}