.contact-page {
    display: grid;
    place-items: center;
    padding: 5rem 0;
}

.contact-form {
    background: var(--clr-white);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    width: 90vw;
    max-width: 35rem;
}

.contact-form:hover {
    box-shadow: var(--dark-shadow);
}

.contact-form h3 {
    padding-top: 1.25rem;
    color: var(--clr-grey-5);
}
